$border:none;

.User{
  border: $border;
  margin: 50px auto;
  width: 80%;
  .userPageNavBar{
    border: $border;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    a{
      border: $border;
      width: 100px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      color: black;
      font-weight: 600;
      text-decoration:none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .userPageOutlet{
    background-color: #e3f2fd;

    padding: 20px 0;
    
    
  }
  .active{
    background-color: #e3f2fd;

  }
}

.UserProfile{
  border: $border;
  h1{
    border: $border;
  }


  
}

.UserAds{
  .myAdsCont{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .adCard {
    border: $border;
    display: flex;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover{
      transform: scale(1.02);
    }
    .imgHolder {
      border: $border;
      width: 200px;
      padding: 10px;

      img {
        width: 100%;
      }
    }

    .detailHolder {
      border: $border;
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 7px;
      position: relative;

      .adTitle {
        color: rgb(184, 0, 0);
      }

      .adPrice {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 18px;
        color: green;
      }
    }
  }

}

// My_Request.js

#My_Request_Parent {
  padding: 0.5em 2em;
  background-color: #e3f2fd;
}
#My_Request_Parent h2{
  border: 0px solid transparent;
  text-align: center;
  padding: 1em 0em;
  font-size: 2.2em;
  background-color: #e3f2fd;
}
.My_Err {
  text-align: center;
  padding: 2em 0em;
  background-color: #e3f2fd;
}
#My_Report_Btn {
  padding: 0.5em 2em;
  background: "red";
  border-radius: 10px;
  border: 0.1px solid rgb(168, 167, 167);
}










