$border:none;
.CarRental{
  .firstSection{
    border: $border;
    display: flex;
    // justify-content: space-between;
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    .heading-punchline{
      border: $border;
      padding: 10px 10px 10px 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;
      h1{
        font-weight: bolder;
        font-size: 47px;
      }
      h4{
        font-style: italic;
      }
      button{
        border: none;
        outline: none;
        width: 200px;
        background-color: #cd0100;
        color: white;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;  
        border-radius: 25px;
        transition: all 0.3s ease;
        &:hover{
          background-color: #bd0000;
        }
      }
    }
    .displayImage{
      border: $border;
      width: 40%;
      padding: 10px;
      img{
        width: 100%;
      }
    }
  }
  .secondSection{
    border: $border;
    display: flex;
    flex-direction: column;
    padding: 0px 0 40px 0;
    width: 80%;
    margin: 0 auto;
    .cont{
      border:$border;
      display: flex;
      flex-direction: column;
      position: relative;
      .line{
        top: 65px;
        position: absolute;
        border-top: 1px solid rgb(190, 189, 189);
        width: 100%;
      }
      .subCont1{
        
        display: flex;
        justify-content: space-between;
        // height: 65px;
        gap: 50px;
        flex-wrap: wrap;
        
        div{
          flex-grow: 1;
          border: 1px solid #ccc;
          flex-basis: 200px;
          height: 130px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          z-index: 10;
          p{
            border: $border;
            font-weight: bolder;
            font-size: 18px;
            width: 80%;
            text-align: center;
          }
        }
      }
      .subCont2{
        border: $border;
        // margin-top: 30px;
        p{
          border: $border;
          text-align: left;
          font-size: 35px;
          font-weight: 800;
          // font-style: italic;
          width: 60%;

          span{
            font-size: 50px;
            line-height: 20px;
            font-style: normal;
          }
        }
      }
    }
  }
}